@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../fonts/Shrikhand-Regular.ttf");
}


@import "./utils/variables";
@import "./base/base";

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/animations";

@import "./components/buttons";

@import "./layouts/card";
@import "./layouts/header";
@import "./layouts/container";
@import "./layouts/footer";
@import "./layouts/responsive";
